version: '3'
services:
  bdws_start-spring-api:
    build:
      context: ./
      dockerfile: ./Dockerfile
    container_name: start-spring
    image: bdws/start-spring-api
    ports:
      - "8080:8080"
      - "5005:5005"
    environment:
      - ADDITIONAL_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005 -Xmx256m -Xms128m -XX:MaxMetaspaceSize=128m
      - PROFILE=devdocker