<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <timestamp key="byMinute" datePattern="yyyy-MM-dd_HH.mm"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%-60.60logger{60}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILELOG" class="ch.qos.logback.core.FileAppender">
        <File>logs/start-spring-api/${byMinute}.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level [%-70.70logger{70}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILELOG"/>
    </root>
</configuration>
